version: '3.8'

services:
  app:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./instance:/app/instance
      - game_score_db:/app
    environment:
      - FLASK_ENV=development

volumes:
  game_score_db: